@font-face {
  font-family: "JMHPsychedelic";
  src: local("JMHPsychedelic"),
    url("../../assets/fonts/JMH Psychedelic CAPS.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Dreamland";
  src: local("Dreamland"),
    url("../../assets/fonts/dreamlan.ttf") format("truetype");
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");

:root {
  --color-1: #2a0c68;
  --color-2: #0764dd;
  --color-3: #7d922b;
  --color-4: #f1f51d;
  --color-5: #5c1c09;
  --angle: 0deg;
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.landing {
  background: url("../../assets/images/pexels-stas-knop-3552948.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.footer {
  font-family: "Spicy Rice", cursive;
  padding-top: 200px;
}

.footer a {
  text-decoration: none;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 100px;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding-top: 25px;
  padding-left: 20px;
  line-height: 20px;
  border: 6px solid #fff;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 70px;
  font-weight: bold;
  transition: all 0.3s ease;
  background: linear-gradient(
    var(--angle),
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.heading:hover {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
  text-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
}

.sub {
  background-color: rgba(0, 0, 0, 0.555);
  color: rgb(201, 255, 246);
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: 2px solid transparent;
  width: 100%;

  font-size: 2rem;
  font-family: "Dreamland";
}

.sub span {
  color: rgb(241, 151, 32);
}

.mt-20 {
  margin-top: 20px;
}

@media (max-width: 480px) {
  .joinOuterContainer {
    height: 100vh;
  }

  .heading {
    width: 150px;
    height: 150px;
    font-size: 50px;
    padding-top: 18px;
  }

  .sub {
    font-size: 1.3rem;
  }
}

button:focus {
  outline: 0;
}

@media (max-height: 796px) {
  .footer {
    padding-top: 0;
  }

  .joinOuterContainer {
    padding-top: 0;
  }

  .mt-20 {
    margin-top: 0;
    font-size: 25px;
  }

  .heading {
    width: 150px;
    height: 150px;
    font-size: 50px;
    padding-top: 18px;
  }
}
