:root {
  --app-max-width: 0;
  --app-visibility: hidden;
}

html, body {
  font-size: var(--base-font-size);
  color: var(--color-fg);
  background: linear-gradient(52deg, rgba(208,57,50,1) 0%, rgba(208,57,50,1) 0%, rgba(233,142,47,1) 53%, rgba(223,212,65,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app {
  margin-left: auto;
  margin-right: auto;
  width: var(--app-max-width);
  visibility: var(--app-visibility);
  background-color: var(--color-bg);
  padding: 40px;
  border-radius: 1%;
}

@media only screen and (min-width: 820px) {
  .app {
    margin-top: 2.5rem;
    /* margin-bottom: var(--spacer); */
  }
}

@media only screen and (max-width: 820px) {
  .app{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
  }
}

.app_header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-bottom: calc(var(--spacer) * 1);
  margin-left: var(--spacer);
  margin-right: var(--spacer);
}

.app_title {
  font-size: 2.2rem;
  font-weight: 100;
  flex: 1;
}

.app_content {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
  position: relative;
  transform: translateZ(0);
}
