.textContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* margin-left: 100px; */
	color: rgb(25, 101, 201);
	height: 60%;
}

.activeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50%;
}

.activeItem {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .activeContainer img {
	padding-left: 10px;
} */

.textContainer h1 {
	margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
	.textContainer {
	display: none;
	}
}
