.LeftIconBar {
  height: calc(100vh - 75px);
  right: calc(100vw - 50px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid white; */
  position: absolute;
}

.icon {
  color: white;
}

.piano {
}
